$orange: #FE8731;
$light-orange: #FFDE8D;
$red: red;
$white: white;
$gray: #80808057;
$blue: #3971AC;
$green: #25C27F;

$primary: $orange;
$secondary: $red;
$third: $white;
$fourth: $gray;
$fifth: $light-orange;
$sixth: $blue;
$seventh: $green;
